
<h1 class="text-center text-white bg-primary">Transactions</h1>
<div class="container">
  <h4 class='text-center text-secondary'>Total Amount: $ <%= @group.entities.sum(:amount)%></h4>
  <span class="text-begin"><%= link_to 'Back', :back, class: "btn btn-primary"%></span>
  <% @group.entities.order("created_at DESC").each do |entity| %>

  <div class="row justify-content-center">
    <div class="col-8 ">
      <div>
        <div class="bg-white text-color card text-center shadow-sm mb-5 rounded">
          <div class="card-body">
            <div>
              <h5 class="card-title text-secondary"><%= entity.name.capitalize%></h5>
            </div>
            <div class="card-text text-secondary">Amount:$ <%= entity.amount%></div>
          </div>
          <div class="card-footer text-muted">
            <p> created <%= time_ago_in_words(entity.created_at) %> ago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
<div class='text-center mb-5'>
  <%= link_to 'Add New Transaction', new_entity_path, class: "btn btn-success col-6 bg-success" %>
</div>