<div class="container">
    <span class="title">TBðŸ’°</span>
    <nav>
        
        <ul class="nav justify-content-end">
        <%if user_signed_in? %>
            <li class="nav-item"><%= link_to "Home ðŸ ", root_path, class: 'nav-link'%></li>
            <li class="nav-item"><%= link_to "Transactions ðŸ’¸", entities_path, class: 'nav-link'%></li>
            <li class="nav-item"><%= link_to "Categories ðŸ“", groups_path, class: 'nav-link'%></li>
            <li class="nav-item"><%= button_to "Sign Out ðŸšª", destroy_user_session_path, method: :delete %></li>
            <%else%>
            <li><%= link_to "Sign Up ðŸ“", new_user_registration_path %></li>
            <li><%= link_to "Sign In ðŸ”‘", new_user_session_path %></li>
        <%end%>
        </ul>
        
    </nav>
</div>