<div class="container-fluid bg-primary">
    <span class="title">TBðŸ’°</span>
    <nav>
        
        <ul class="nav justify-content-end">
        <%if user_signed_in? %>
            <li class="nav-item text-light"><%= link_to "Home ðŸ ", root_path, class: 'nav-link btn btn-primary'%></li>
            <li class="nav-item text-light"><%= link_to "Categories ðŸ“", groups_path, class: 'nav-link btn btn-primary'%></li>
            <li class="nav-item"><%= button_to "Sign Out ðŸšª", destroy_user_session_path, method: :delete, class: 'nav-link btn btn-primary' %></li>
            <%else%>
            <li><%= link_to "Sign Up ðŸ“", new_user_registration_path, class: 'nav-link btn btn-primary' %></li>
            <li><%= link_to "Sign In ðŸ”‘", new_user_session_path, class: 'nav-link btn btn-primary' %></li>
        <%end%>
        <p class="text-dark bg-warning"><%= @users%> ðŸ‘¤</p>
        </ul>
        
    </nav>
</div>