<div class="container">
    <span class="title">ðŸ’°ðŸ’°</span>
    <nav class="nav">
        
        <ul class="nav_list">
        <%if user_signed_in? %>
            <li><%= link_to "Home ðŸ ", root_path%></li>
            <li><%= link_to "Categories ðŸ“", entities_path%></li>
            <li><%= link_to "Transactions ðŸ’¸", groups_path%></li>
            <li><%= link_to "Sign Out ðŸšª", destroy_user_session_path, method: :delete %></li>
            <!----<li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign_out" %></li>---->
            <%else%>
            <li><%= link_to "Sign Up ðŸ“", new_user_registration_path %></li>
            <li><%= link_to "Sign In ðŸ”‘", new_user_session_path %></li>
        <%end%>
        </ul>
        
    </nav>
</div>